# Assigning latitude and longitude to the neighborhoods of Toronto

by Tom Fenske

In [1]:
#Importing necessary libraries
import pandas as pd

In [2]:
#Reading the .csv with the latlon of postal codes

file_path='../../II_Datasets/Geospatial_Coordinates.csv'#going two folders up and then enter folder "II_Datasets"
df_latlon=pd.read_csv(file_path)
df_latlon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [4]:
df_latlon.shape

(103, 3)

In [3]:
#Retrieving the data with names of boroughs and neighborhoods from the previous notebook
df_toronto=pd.read_csv('../../II_Datasets/toronto.csv')
#!drop unnamed:0
df_toronto.head()

,Unnamed: 0,Postal Code,Borough,Neighbourhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"